
<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Places</a></li>
        <li><a routerLink="/hotel">Hotels</a></li>
        <li><a href="#">Cusuins</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register"> Register</a></li>
      </ul>
    </div>
  </div>
</nav>
-->


<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-inverse side-collapse in">
      <nav role="navigation" class="navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a href="">Places</a></li>
          <li><a>Hotels</a></li>
          <li><a href="">Cusuins</a></li>
        </ul>
        <a routerLink="/home"><img src="./assets/bik11.png"></a>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register"> Register</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
