<!--
<div class="panel-footer">
<h5 class="text-center">Footer Works</h5>
</div>
-->

<div class= "footer">
  <h6> Bikaner Heritage Club</h6>
  <div class="sharediv pull-right">
  <a href="#" title="Facebook"> <img src="https://wiki.rage.mp/images/5/55/Facebook.png"></a>
    <a href="#" title="Twitter"><img src="https://cdn4.iconfinder.com/data/icons/free-large-twitter-icons/512/Twitter_button.png"></a>
      <a href="#" title="Instagram"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"></a>
        <a href="#" title="Youtube"><img src="http://www.freeiconspng.com/uploads/youtube-icon-21.png"></a>
  </div>
  <!--<img src="http://pngimg.com/uploads/camel/camel_PNG23430.png" id="logopic">-->
</div>
