img{
  height: 890px;
  width: 100%;
}

carousel{
  width:1310px
}
h2{
  font-family: "Curlz MT";
  color:white;
  font-size: 120px;
}
.carousel-caption {
  background: rgba(0,0,0,0);
  }
.btn-default{
  background: rgba(0,0,0,0);
  color: white;
  font-family: "Blackadder ITC";
  font-size: 35px;
  border-radius: 20%;
}
.btn-default:hover {
  background: royalblue;
}
@media screen and (max-width: 768px) {
  .carousel-caption{
    width:100%;
    margin-left: -15%;
  }
  h2{
    font-size: 90px;
  }
}
