img{
  height: 890px;
  width: 100%;
}

.welcome {
  height: 150px;
  text-align: center;
  font-family: "Castellar";
  background-color: aliceblue;
  color: gray;
  opacity: .5;
  position: relative;
  z-index: 40;
  top: 40%;
}
carousel{
  width:1310px
}
h2{
  font-family: "Curlz MT";
  color:white;
  font-size: 120px;
}
.carousel-caption {
  background: rgba(0,0,0,0);
  }
.btn-default{
  background: rgba(0,0,0,0);
  color: white;
  font-family: "Blackadder ITC";
  font-size: 35px;
  border-radius: 20%;
}
.btn-default:hover {
  background: royalblue;
}

