<div class="body">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
          <h1>REGISTAR</h1>
          <img src="https://www.shareicon.net/data/128x128/2017/05/24/886412_user_512x512.png">
        <div class="form-group">
          <label for="fname">Firstname</label>
          <input
            type="text"
            name="fname"
            id="fname"
            class="form-control"
            [(ngModel)]="model.firstname"
            required
            #firstname="ngModel"
            pattern="[a-zA-Z]+">
        </div>


        <div class="form-group">
          <label for="lname">Lastname</label>
          <input
            type="text"
            name="lname"
            id="lname"
            class="form-control"
            [(ngModel)]="model.lastname"
            required
            #lastname="ngModel">
        </div>

        <div class="form-group">
          <label>Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="gender" value="male" [(ngModel)]="model.gender">Male
            </label>

            <label class="radio-inline">
              <input type="radio" name="gender" value="female"  [(ngModel)]="model.gender">Female
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>State</label>
          <select class="form-control" name="state" [(ngModel)]="model.state">
            <option value="1">Select State</option>
            <option value="Rajasthan">Rajasthan</option>
          </select>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" [(ngModel)]="model.email">
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control" [(ngModel)]="model.username" >
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" [(ngModel)]="model.password" >
        </div>

        <div class="form-group">
          <label for="confirmpassword">Confirm password</label>
          <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" [(ngModel)]="model.confirmpass" >
        </div>

        <div class="form-group">
          <label for="contactno">Contact no</label>
          <input
            type="text"
            name="contactno"
            id="contactno"
            class="form-control"
            [(ngModel)]="model.contactno"
            pattern="[0-9]+"
            #contactno ="ngModel"
            required>
        </div>

        <div class="alert alert-danger" *ngIf="!contactno.valid && contactno.dirty"></div>

        <div class="center">
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-primary" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
  <!--{{registerForm.value | json}}-->
