
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        &lt;!&ndash;<app-header></app-header>&ndash;&gt;
      <app-homepage></app-homepage>
      &lt;!&ndash;<app-hotel-booking-form></app-hotel-booking-form>&ndash;&gt;
    </div>
  </div>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-8">


    </div>
  </div>
</div>
-->

<app-header></app-header>
<!--<span class="connected" tooltipHtml="No Connection" *ngIf="!(isConnected | async)">signal_wifi_off</span>-->

<div class="container-fluid">
  <div id="status"></div>
  <div id="log"></div>
      <router-outlet></router-outlet>
</div>


<app-footer></app-footer>


