<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        &lt;!&ndash;<app-header></app-header>&ndash;&gt;
      <app-homepage></app-homepage>
      &lt;!&ndash;<app-hotel-booking-form></app-hotel-booking-form>&ndash;&gt;
    </div>
  </div>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-8">


    </div>
  </div>
</div>
-->

<app-header></app-header>

<div class="container-fluid">


      <router-outlet></router-outlet>


</div>


<app-footer></app-footer>

