img {
  height: 198px;
  width: 140px;
  border: solid 0.7px black;
}
.container-fluid{
  background-color: black;
}
.col-sm-8 {
  padding-right: 0px;
  padding-left: 0px;
}
.col-sm-4 {
  padding-right: 0px;
  padding-left: 0px;
}
iframe {
  height: 588.3px;
  width: 394px;
}
