<div class="body">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1>Book and Enjoy the places</h1>
      <form (ngSubmit)="onBooknow(book)" #book="ngForm">
        <div class="bookingdiv">
          <input type="date" [(ngModel)]="PlaceBookingModel.date" name="date">
          <input type="number" placeholder="Travellers" name="travellers" [(ngModel)]="PlaceBookingModel.travellers"> <button class="btn btn-success" type="submit">Book now</button>
          <br>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
